<form [formGroup]="formGroup">
    <div class="productoForm" *ngFor="let field of formFields">
        <label [for]="field.for">{{field.label}}</label>
        <input *ngIf="field.kind == 'input'" [type]="field.type" [id]="field.id" pInputText
            [formControlName]="field.for!" />
        <textarea *ngIf="field.kind == 'textarea'" rows="4" cols="30" [id]="field.id" pInputTextarea
            [formControlName]="field.for!"></textarea>
        <p-dropdown *ngIf="field.kind == 'dropdown'" [formControlName]="field.for!" [options]="categorias"
            placeholder="Selecciona"></p-dropdown>
        <div *ngIf="field.kind == 'radio-button'" [id]="field.id">
            <p-radioButton [inputId]="field.id" [value]="field.id" [formControlName]="field.for!"></p-radioButton>
            <label [for]="field.for">{{field.label}}</label>
            <br>
        </div>
    </div>
    <div>
        <p-button label="Save" [disabled]="formGroup.invalid" [text]="true" icon="pi pi-check"
            (click)="submit()"></p-button>
        <p-button label="Cancel" [text]="true" icon="pi pi-times" (click)="hideDialog()"></p-button>
    </div>
</form>